h1{text-align: center; font-size: 300%;}
h2{color: violet; padding: 20px; background-color: lightgray;}
img{border: 2px solid black; border-radius:10px; padding:20px; width: 30%；}
 p{font-weight: bold;}
 body{color:green;font-family: courier; padding: 10px;}
